# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Database
*.db

# Environment variables
.env

# Alembic
alembic/versions/*.py
!alembic/versions/.gitkeep
